{% include 'header.html'%} {% include 'sidebar.html'%}

<br />
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <!-- left column -->
      <div class="col-md-6">
        <!-- general form elements -->
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Quick Example</h3>
          </div>
          <!-- /.card-header -->
          <!-- form start -->
          
          <form role="form" action="http://localhost:5000/ubah/{{data.NO_LR}})" method="post" >
            <div class="card-body">
              <div class="form-group">
                <label for="NO_LR">NO_LR</label>
                <input type="text" class="form-control" name="NO_LR" value="{{data.NO_LR}}" />
              </div>
          
              <div class="form-group">
                <label for="NAMA">NAMA</label>
                <input type="text" class="form-control" name="NAMA" id="NAMA" placeholder="NAMA" value="{{data.NAMA}}"/>
          
                <div class="form-group">
                  <label for="WA_NUMBER">WA_NUMBER</label>
                  <input type="text" class="form-control" name="WA_NUMBER" id="WA_NUMBER" placeholder="WA_NUMBER" value="{{data.WA_NUMBER}}" />
                </div>
                <div class="form-group">
                  <label for="MODEL">MODEL</label>
                  <input type="text" class="form-control" name="MODEL" id="MODEL" placeholder="MODEL" value="{{data.MODEL}}"/>
                </div>
                <div class="form-group">
                  <label for="JENIS_PERAWATAN">JENIS_PERAWATAN</label>
                  <input type="text" class="form-control" name="JENIS_PERAWATAN" id="JENIS_PERAWATAN" placeholder="JENIS_PERAWATAN"  value="{{data.JENIS_PERAWATAN}}"/>
                </div>
                <div class="form-group">
                  <label for="ALAMAT">ALAMAT</label>
                  <input type="text" class="form-control" name="ALAMAT" id="ALAMAT" placeholder="ALAMAT" value="{{data.ALAMAT}}" />
                </div>
                <div class="form-group">
                  <label for="REQ_DATE">REQ_DATE</label>
                  <input type="text" class="form-control" name="REQ_DATE" id="REQ_DATE" placeholder="REQ_DATE" value="{{data.REQ_DATE}}" />
                </div>
                <div class="form-group">
                  <label for="COMPLETION_DATE">COMPLETION_DATE</label>
                  <input type="text" class="form-control" name="COMPLETION_DATE" id="COMPLETION_DATE" placeholder="COMPLETION_DATE" value="{{data.COMPLETION_DATE}}"/>
                </div>
                <div class="form-group">
                  <label for="KETERANGAN">KETERANGAN</label>
                  <input type="text" class="form-control" name="KETERANGAN" id="KETERANGAN" placeholder="KETERANGAN" value="{{data.KETERANGAN}}"/>
                </div>
                <div class="form-group">
                  <label for="STATUS_LAPORAN">STATUS_LAPORAN</label>
                  <input type="text" class="form-control" name="STATUS_LAPORAN" id="SN_OLD" placeholder="STATUS_LAPORAN" value="{{data.STATUS_LAPORAN}}"/>
                </div>
            <!-- /.card-body -->
          
            <div class="card-footer">
              <button type="submit" value="Simpan">Submit</button>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>

  <!-- /.container-fluid -->
</section>

<!-- /.content -->
</div>
{% include 'footer.html'%}
